@tailwind base;
@tailwind components;
@tailwind utilities;

/** SPINNER STYLES */
.spinner-circle {
    width: 20px;
    height: 20px;
    animation: rotate 2s linear infinit;
}

.spinner-circle .path {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
